<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708721798217-q21i9fuonigsimj0jipe7noof9qmpdov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708721798217-q21i9fuonigsimj0jipe7noof9qmpdov</string>
	<key>API_KEY</key>
	<string>AIzaSyCitQXz93CbQRJzvqKHnfkPtpXufJFM7TY</string>
	<key>GCM_SENDER_ID</key>
	<string>708721798217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.quicha</string>
	<key>PROJECT_ID</key>
	<string>quicha-25dc8</string>
	<key>STORAGE_BUCKET</key>
	<string>quicha-25dc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708721798217:ios:0ac6e691eb7c4f6e826398</string>
	<key>DATABASE_URL</key>
	<string>https://quicha-25dc8.firebaseio.com</string>
</dict>
</plist>